{% load staticfiles %}

<html>
  <head>
    {% include 'common/head.html' %}
    <title>Histoire du LIFL</title>
    <link rel="stylesheet" href="{% static 'events/css/graph.css' %}"/>
  </head>
  <body role="document">
    {% include 'common/header.html' %}

    <div class="container theme-showcase" role="main">

      <div class="jumbotron">
        <h1>L'histoire du LIFL</h1>
        <p>blah blah blah</p>
      </div>

    </div>

    <script src="{% static 'events/js/d3.v3.min.js' %}"></script>
    <script src="{% static 'events/js/graph.js' %}"></script>

  </body>
</html>

