.event {
  fill: black;
  opacity: 0.4;
}

.axis text {
  font: 18px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.event-text {
  fill: black;
  font-family: sans-serif;
  font-size: 18;
  font-weight: bold;
}

.person-text {
  font-family: sans-serif;
  font-size: 18;
  font-weight: bold;
}

.person-tooltip {
  fill: #fc3;
}

.event-tooltip {
  fill: #fc3;
}

.person-path {
  stroke: #ddd;
  fill-opacity: 0;
  stroke-width: 8;
  z-index: 3;
  stroke-linecap: round;
}
