<html>
  <head>
    {% include 'common/head.html' %}
    <title>{{person.name}}</title>
  </head>
  <body>
    {% include 'common/header.html' %}

    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>
          {% if person.photo %} <img src="{{ person.photo }}" alt="photo"/> {% endif %}
          {{ person.name }} 
        </h1>
      </div>

      <h2>Liens</h2>
  
      {% include "common/links_helper.html" %}
  
      <h2>Historique</h2>
  
      {% include "events/template_list.html" %}
    </div>  
    {% include 'common/scripts.html' %}
  </body>
</html>
