{% load staticfiles %}

<html>
  <head>
    {% include 'common/head.html' %}
    <title>{{person.name}}</title>
    <link rel="stylesheet" href="{% static 'events/css/graph.css' %}"/>
  </head>
  <body>
    {% include 'common/header.html' %}

    <div class="container theme-showcase" role="main">

      <h1>
        {{ person.name }}
      </h1>

      {% if person.photo %} <img src="{{ person.photo }}" alt="photo"/> {% endif %}

      <p id="chart">

      {% include "common/links_helper.html" %}

      <h2>{{ settings.string_events }}</h2>

      {% include "events/template_list.html" %}
    </div>

    <script src="{% static 'events/js/d3.v3.min.js' %}"></script>
    <script src="{% static 'events/js/narrative.js' %}"></script>
    <script>
      var n=new Narrative();
      n.draw_chart({{ person.id }});
    </script>

  </body>
</html>
