<div><a href="{% url 'events:people' %}">Personnes</a>, <a href="{% url 'events:events' %}">Historique</a></div>

<h1>{{ event.title }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div>{{ event.eventType }}, {{ event.date }}</div>

<h2>Liens</h2>

{% include "common/links_helper.html" %}

<h2>Participants</h2>

{% include "people/template_list.html" %}

<h2>Commentaires</h2>

{% if comments %}
  <ul>
  {% for comment in comments %}
    <li>{{comment.text}}</li>
  {% endfor %}
  </ul>
{% else %}
  <p>Pas de commentaires</p>
{% endif %}

<h2>Ajouter un commentaire</h2>
<form action="{% url 'events:send_comment' event.id %}" method="post">

{% csrf_token %}

  <textarea name="comment_text" rows="10" cols="50"></textarea>

  <input type="submit" value="Envoyer" />
</form>
