<html>
  <head>
    {% include 'common/head.html' %}
    <title>{{ settings.title }}</title>
  </head>
  <body>
    {% include 'common/header.html' %}

    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>
          {{ event.title }}
        </h1>
      </div>

      {% if event.photo %} <img src="{{ event.photo }}" alt="photo" height="300"/> {% endif %}


      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

      <h2>{{ event.eventType }}, {{ event.day }}/{{ event.month}}/{{ event.year }}</h2>

      <div>{{ event.description }}</div>

      {% include "common/links_helper.html" %}

      <h2>{{ settings.string_people }}</h2>

      {% include "people/template_list.html" %}

      {% if settings.SETTINGS.features_enabled.comments %}
      <h2>{{ settings.string_comments }}</h2>

      {% if comments %}
        <ul>
        {% for comment in comments %}
          <li><form action="{% url 'events:delete_comment' event.id comment.id %}" method="post">{% csrf_token %}{{comment.text}} <input type="submit" value="Effacer"/></form></li>
        {% endfor %}
        </ul>
      {% else %}
        <p>{{ settings.string_no_comments }}</p>
      {% endif %}

      <h2>{{ settings.string_add_comment }}</h2>
      <form action="{% url 'events:send_comment' event.id %}" method="post">
        {% csrf_token %}
        <textarea name="comment_text" rows="10" cols="50"></textarea>
        <input type="submit" value="{{ settings.string_send }}" />
      </form>
      {% endif %}
    </div>
  </div>
  {% include 'common/scripts.html' %}

  </body>
</html>
