<html>
  <head>
    {% include 'common/head.html' %}
    <title>{{ event.title }}</title>
  </head>
  <body>
    {% include 'common/header.html' %}

    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>{{ event.title }}</h1>
      </div>

    
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    
      <div>{{ event.eventType }}, {{ event.date }}</div>
   
      <h2>Liens</h2>
    
      {% include "common/links_helper.html" %}
    
      <h2>Participants</h2>
    
      {% include "people/template_list.html" %}
    
      <h2>Commentaires</h2>
    
      {% if comments %}
        <ul>
        {% for comment in comments %}
          <li><form action="{% url 'events:delete_comment' event.id comment.id %}" method="post">{% csrf_token %}{{comment.text}} <input type="submit" value="Effacer"/></form></li>
        {% endfor %}
        </ul>
      {% else %}
        <p>Pas de commentaires</p>
      {% endif %}
    
      <h2>Ajouter un commentaire</h2>
      <form action="{% url 'events:send_comment' event.id %}" method="post">
        {% csrf_token %}
        <textarea name="comment_text" rows="10" cols="50"></textarea>
        <input type="submit" value="Envoyer" />
      </form>
    </div>
  </div>
  {% include 'common/scripts.html' %}

  </body>
</html>
